.hidden { display: none !important; }

textarea {
    width: 100%; height: 150px; background: #0d1117;
    border: 1px solid #30363d; color: #00ff00;
    padding: 10px; border-radius: 5px; font-family: monospace;
}

.tabs span { cursor: pointer; transition: 0.3s; padding-bottom: 5px; }
.tabs span:hover { color: var(--blue); }

.terminal-box {
    background: #000; border: 1px solid #333;
    height: 100px; overflow-y: auto; padding: 10px;
    font-size: 11px; color: #00ff00; font-family: monospace;
    margin-top: 10px; border-radius: 5px;
}

.btn-encrypt {
    width: 100%; background: var(--blue); border: none;
    color: white; padding: 12px; margin-top: 10px; border-radius: 5px;
    font-weight: bold; cursor: pointer;
}
